/* BEGIN EXTERNAL SOURCE */
tr {
background-color: orange;
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {
color: ga {

}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
reen; background: #fbdcc6
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
select {
background: #fbdcc6
}
/* END EXTERNAL SOURCE */
