/* BEGIN EXTERNAL SOURCE */
body {
 background: #f3e1e1
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
p {
color:brown
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {
color: green; background: #fbdcc6
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
select {
background: #fbdcc6
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {
color: #5e061f; background: #f3e1e1
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
select {
background: #f3e1e1
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {
color: #5e061f; background: #9ae1a9
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
input {
background: #9ae1a9
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
i {
color: #5e061f; background: #8c94cb
}
/* END EXTERNAL SOURCE */
/* BEGIN EXTERNAL SOURCE */
input {
background: #8c94cb
}
/* END EXTERNAL SOURCE */
